.input {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

input {
  background-color: #1f2937;
  border: none;
  outline: none;
  color: white;
  padding: 15px;
  padding-left: 15px;
  font-size: 16px;
  width: 100%;
}

input::placeholder {
  color: white;
}

.icon {
  padding: 15px;
  padding-right: 0px;
}
