* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Times New Roman", Times, serif;
  background-color: #111827;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}
